.increase{
    color:red;
}
.descrease{
    color:green;
}


.news-item-intro-topic {
    display: inline-block;
    font-size: 12px;
    border: 1px solid #4c5466;
    line-height: 12px;
    padding: 4px;
}
