{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
   <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sortedtable.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js'%}"></script>
</head>
<body>
<div class="container" style="width:100%">

        {% block content %}
        {% endblock%}
</div>
</body>
</html>